/* ==========================================================================
   Chun's modification
   ========================================================================== */

.dl-ad {
	max-width: 100px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1000;
	@media #{$medium} {
		position: fixed;
		top: 0;
		right: 0;
		z-index: 1000;
	}
}
